.wrapper{
    display: grid;
    width: 100%;
    grid-template: "head head"
                   "left main"
                   "content content";
    grid-template-columns: 280px calc(100% - 280px);
}

.blured{
    filter: blur(2px);
}

@media screen and (max-width: 1000px) {
    .mobile-navbar{
        display: block;
    }
    .wrapper{
        display: grid;
        width: 100%;
        grid-template: "head"
                        "left"
                       "main"
                       "content";
    }
}
